<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160967134309-60vp2nbpd93sbu1nooa68bnd9mm84cmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160967134309-60vp2nbpd93sbu1nooa68bnd9mm84cmr</string>
	<key>API_KEY</key>
	<string>AIzaSyCRUefNA3RF1V1E6jMuTqCQ12Ulj1hGazo</string>
	<key>GCM_SENDER_ID</key>
	<string>160967134309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learnistan</string>
	<key>PROJECT_ID</key>
	<string>learnistan-fe1b6</string>
	<key>STORAGE_BUCKET</key>
	<string>learnistan-fe1b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160967134309:ios:dea196d88dc061eb050a8c</string>
</dict>
</plist>